## Data Input and Output
讀檔時要注意檔案路徑, 一般狀況下電腦顯示路徑都是`C:\data\example`, 但是`\`在python中代表Escape Character(逸出字元或逃脫字元), 所以並非是我們認知的`\`, 為了避免逸出字元(Escape Character)作用, 檔案路近中`\`時要寫做`\\`或`/`

### CSV

In [4]:
import numpy as np
import pandas as pd

In [ ]:
# input
df = pd.read_csv('data\\example')
# output
df.to_csv('data\\example',index=False)

### Excel

In [ ]:
# input
pd.read_excel('data\\Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
# output
df.to_excel('data\\Excel_Sample.xlsx',sheet_name='Sheet1')

### Merge

In [5]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [6]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})  
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [7]:
# 合併left, right, 方式為inner, 以'key'判斷
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

### Join

In [8]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2']) 
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [9]:
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [10]:
#index重複
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [11]:
#每個index都列出
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

### Concatenate

In [12]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [13]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7]) 
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [14]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [15]:
#左右並
左右病pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [16]:
#左右併
pd.concat([df1,df2,df3],axis=1)    #axis預設為0代表row, 1代表column

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

## Script 爬蟲

收集網頁上的數據，反覆地複製、貼上的工作可以使用網路爬蟲的技術。一般而言，構成網頁最基本的要素是超文件標示語言。大都是建構在HTML之上。網路爬蟲的原理就是向遠端的伺服器送出請求，取得回應後伺服器會回傳HTML網頁，顯示在使用者的電腦上。

In [2]:
import pandas as pd

In [3]:
# input
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
df

[                             Bank Name               City State   Cert  \
 0                    Almena State Bank             Almena    KS  15426
 1           First City Bank of Florida  Fort Walton Beach    FL  16748
 2                 The First State Bank      Barboursville    WV  14361
 3                   Ericson State Bank            Ericson    NE  18265
 4     City National Bank of New Jersey             Newark    NJ  21111
 ..                                 ...                ...   ...    ...
 558                 Superior Bank, FSB           Hinsdale    IL  32646
 559                Malta National Bank              Malta    OH   6629
 560    First Alliance Bank & Trust Co.         Manchester    NH  34264
 561  National State Bank of Metropolis         Metropolis    IL   3815
 562                   Bank of Honolulu           Honolulu    HI  21029

                    Acquiring Institution       Closing Date
 0                            Equity Bank   October 23, 2020
 1              United Fidelity Bank, fsb   October 16, 2020
 2                         MVB Bank, Inc.      April 3, 2020
 3             Farmers and Merchants Bank  February 14, 2020
 4                        Industrial Bank   November 1, 2019
 ..                                   ...                ...
 558                Superior Federal, FSB      July 27, 2001
 559                    North Valley Bank        May 3, 2001
 560  Southern New Hampshire Bank & Trust   February 2, 2001
 561              Banterra Bank of Marion  December 14, 2000
 562                   Bank of the Orient   October 13, 2000

 [563 rows x 6 columns]]

### Script
- Requests 自動下載網頁 
- beautifulsoup 解析原始碼

In [4]:
import requests
from bs4 import BeautifulSoup

url = 'https://news.google.com/topics/CAAqJQgKIh9DQkFTRVFvSUwyMHZNR3QwTlRFU0JYcG9MVlJYS0FBUAE?hl=zh-TW&gl=TW&ceid=TW%3Azh-Hant'

r = requests.get(url)
web_content = r.text
soup = BeautifulSoup(web_content, 'lxml')

In [5]:
# 找出所有標題區塊的元素並儲存為一個list
# 每個文章都被包覆在class = ‘xrnccd’的div物件中
# 整個文章點擊區塊連結: class = “VDXfz”
title = soup.find_all('div', class_='xrnccd')
print(title)

Gue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;keydown:I481le;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="S9Bhuc" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">more_vert</span></div></span></menu></div></article></div>, <div class="xrnccd"><article class="MQsxIb xTewfe R7GTQ keNKEd j7vNaf Cc0Z5d EjqUne" data-kind="13" data-n-cvid="i143" data-n-et="107" data-n-ham="true" data-n-vlb="0" jsaction=";rcuQ6b:npT2md; click:KjsqPd;" jscontroller="HyhIue" jsdata="oM6qxc;CBMiI2h0dHBzOi8vd3d3LnN0b3JtLm1nL2FydGljbGUvMTAyMTE00gEmaHR0cHM6Ly93d3cuc3Rvcm0ubWcvYW1wYXJ0aWNsZS8xMDIxMTQ;78" jslog="85008" jsmodel="a4N6Ae hT8rr"><a aria-hidden="true" class="VDXfz" href="./articles/CBMiI2h0dHBzOi8vd3d3LnN0b3JtLm1nL2FydGljbGUvMTAyMTE00gEmaHR0cHM6Ly93d3cuc3Rvcm0ubWcvYW1wYXJ0aWNsZS8xMDIxMTQ?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant" jslog="95014; 5:W251bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCwiaHR0cHM6Ly93d3cuc3Rvcm0ubWcvYXJ0aWNsZS8xMDIxMTQiXQ==; track:click" jsname="hXwDdf" tabindex="-1" target="_blank"></a><h3 class="ipQwMb ekueJc RD0gLb"><a class="DY5T1d RZIKme" href="./articles/CBMiI2h0dHBzOi8vd3d3LnN0b3JtLm1nL2FydGljbGUvMTAyMTE00gEmaHR0cHM6Ly93d3cuc3Rvcm0ubWcvYW1wYXJ0aWNsZS8xMDIxMTQ?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant">腸病毒71型恐流行 疾管署「警戒水位」危機監控</a></h3><div aria-hidden="true" class="Da10Tb Rai5ob" jsname="jVqMGc"><span class="xBbh9">因應腸病毒71型恐將大流行的可能性，衛生福利部疾病管制署增加訂定各縣市腸病毒流行閾值，一旦縣市腸病毒門、急診就診人次超過流行閾值，就代表該縣市疫情 ...</span></div><div class="QmrVtf RD0gLb kybdz"><div class="SVJrMe" jsname="Hn1wIf"><span aria-hidden="true" class="DPvwYc N3ElHc hEsB5d eLNT1d uQIVzc" jsname="boXlNc">amp</span><span aria-hidden="true" class="DPvwYc N3ElHc gQtGhf eLNT1d uQIVzc">video_youtube</span><a class="wEwyrc AVN2gc uQIVzc Sksgp">風傳媒</a></div><menu class="fmkQje gXqRq"><div class="OGsJDe L8PZAb R71ogd" data-n-ca-at="2" data-n-et="1000" data-n-ssice="false" data-n-st="bookmark" jsaction="rcuQ6b:npT2md;JIbuQc:h5M12e;eEPUnd:h5M12e;YohPuc:CE7Jad;qW1nqe:kjc9zd;" jscontroller="pQWkX" jsdata="oM6qxc;CBMiI2h0dHBzOi8vd3d3LnN0b3JtLm1nL2FydGljbGUvMTAyMTE00gEmaHR0cHM6Ly93d3cuc3Rvcm0ubWcvYW1wYXJ0aWNsZS8xMDIxMTQ;78" jsmodel="BZ12ub" jsname="ms4Zd"><div aria-disabled="false" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">bookmark_border</span></div></div><span class="L8PZAb uG2FLd" data-n-ca-at="8" data-n-et="1000" jsaction="JIbuQc:RNDhHe;" jscontroller="ZHduwf" jsdata="oM6qxc;CBMiI2h0dHBzOi8vd3d3LnN0b3JtLm1nL2FydGljbGUvMTAyMTE00gEmaHR0cHM6Ly93d3cuc3Rvcm0ubWcvYW1wYXJ0aWNsZS8xMDIxMTQ;78" jslog="93393" jsmodel="tOLjce hECoeb"><div aria-disabled="false" aria-label="分享" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" data-tooltip="分享" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">share</span></div></span><span class="L8PZAb GB1Zid" data-n-prms="[false,false,false,null,false,false,false,false,null,false]" jsaction="rcuQ6b:npT2md;aWRkAb:u0WEMd;h4C2te:Oy8cwd;" jscontroller="jSvZHb" jsdata="oM6qxc;CBMiI2h0dHBzOi8vd3d3LnN0b3JtLm1nL2FydGljbGUvMTAyMTE00gEmaHR0cHM6Ly93d3cuc3Rvcm0ubWcvYW1wYXJ0aWNsZS8xMDIxMTQ;78" jslog="109017" jsmodel="WDTLsd BZ12ub"><div aria-disabled="false" aria-expanded="false" aria-haspopup="true" aria-label="更多" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd gL67me cd29Sd V3dfMc w0hkKb" data-dynamic="true" data-tooltip="更多" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;keydown:I481le;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="S9Bhuc" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">more_vert</span></div></span></menu></div></article></div>, <div class="xrnccd"><article class="MQsxIb xTewfe R7GTQ keNKEd j7vNaf Cc0Z5d EjqUne" data-kind="13" data-n-cvid="i145" data-n-et="107" data-n-ham="true" data-n-vlb="0" jsaction=";rcuQ6b:npT2md; click:KjsqPd;" jscontroller="HyhIue" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNjU4MDfSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE2NTgwNw;79" jslog="85008" jsmodel="a4N6Ae hT8rr"><a aria-hidden="true" class="VDXfz" href="./articles/CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNjU4MDfSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE2NTgwNw?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant" jslog="95014; 5:W251bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCwiaHR0cHM6Ly93d3cuc3Rvcm0ubWcvbGlmZXN0eWxlLzE2NTgwNyJd; track:click" jsname="hXwDdf" tabindex="-1" target="_blank"></a><h3 class="ipQwMb ekueJc RD0gLb"><a class="DY5T1d RZIKme" href="./articles/CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNjU4MDfSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE2NTgwNw?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant">中秋連假不舒服，哪裡還能看醫生？快記下這2個實用小工具，就不怕白跑一趟啦</a></h3><div aria-hidden="true" class="Da10Tb Rai5ob" jsname="jVqMGc"><span class="xBbh9">中秋連假身體不舒服，又怕到了診所醫院才發現沒開？快用這2個方式查查再出門！衛福部健保署今天表示，民眾在連假期間如有輕微急症像是感冒、腸胃炎等， ...</span></div><div class="QmrVtf RD0gLb kybdz"><div class="SVJrMe" jsname="Hn1wIf"><span aria-hidden="true" class="DPvwYc N3ElHc hEsB5d eLNT1d uQIVzc" jsname="boXlNc">amp</span><span aria-hidden="true" class="DPvwYc N3ElHc gQtGhf eLNT1d uQIVzc">video_youtube</span><a class="wEwyrc AVN2gc uQIVzc Sksgp">風傳媒</a></div><menu class="fmkQje gXqRq"><div class="OGsJDe L8PZAb R71ogd" data-n-ca-at="2" data-n-et="1000" data-n-ssice="false" data-n-st="bookmark" jsaction="rcuQ6b:npT2md;JIbuQc:h5M12e;eEPUnd:h5M12e;YohPuc:CE7Jad;qW1nqe:kjc9zd;" jscontroller="pQWkX" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNjU4MDfSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE2NTgwNw;79" jsmodel="BZ12ub" jsname="ms4Zd"><div aria-disabled="false" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">bookmark_border</span></div></div><span class="L8PZAb uG2FLd" data-n-ca-at="8" data-n-et="1000" jsaction="JIbuQc:RNDhHe;" jscontroller="ZHduwf" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNjU4MDfSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE2NTgwNw;79" jslog="93393" jsmodel="tOLjce hECoeb"><div aria-disabled="false" aria-label="分享" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" data-tooltip="分享" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">share</span></div></span><span class="L8PZAb GB1Zid" data-n-prms="[false,false,false,null,false,false,false,false,null,false]" jsaction="rcuQ6b:npT2md;aWRkAb:u0WEMd;h4C2te:Oy8cwd;" jscontroller="jSvZHb" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNjU4MDfSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE2NTgwNw;79" jslog="109017" jsmodel="WDTLsd BZ12ub"><div aria-disabled="false" aria-expanded="false" aria-haspopup="true" aria-label="更多" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd gL67me cd29Sd V3dfMc w0hkKb" data-dynamic="true" data-tooltip="更多" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;keydown:I481le;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="S9Bhuc" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">more_vert</span></div></span></menu></div></article></div>, <div class="xrnccd"><article class="MQsxIb xTewfe R7GTQ keNKEd j7vNaf Cc0Z5d EjqUne" data-kind="13" data-n-cvid="i147" data-n-et="107" data-n-ham="true" data-n-vlb="0" jsaction=";rcuQ6b:npT2md; click:KjsqPd;" jscontroller="HyhIue" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNTE5ODPSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE1MTk4Mw;80" jslog="85008" jsmodel="a4N6Ae hT8rr"><a aria-hidden="true" class="VDXfz" href="./articles/CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNTE5ODPSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE1MTk4Mw?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant" jslog="95014; 5:W251bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCwiaHR0cHM6Ly93d3cuc3Rvcm0ubWcvbGlmZXN0eWxlLzE1MTk4MyJd; track:click" jsname="hXwDdf" tabindex="-1" target="_blank"></a><h3 class="ipQwMb ekueJc RD0gLb"><a class="DY5T1d RZIKme" href="./articles/CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNTE5ODPSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE1MTk4Mw?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant">別再吃布丁啦！市售布丁含糖量嚇死人，看完以後你還敢碰某款超商點心嗎？</a></h3><div aria-hidden="true" class="Da10Tb Rai5ob" jsname="jVqMGc"><span class="xBbh9">不少家長認為布丁有雞蛋、牛奶，比多數零食來得健康。但董氏基金會調查市售布丁卻發現，重量僅180公克的布丁，含糖量竟逼近1杯全糖手搖飲料，等同吞下6.3 ...</span></div><div class="QmrVtf RD0gLb kybdz"><div class="SVJrMe" jsname="Hn1wIf"><span aria-hidden="true" class="DPvwYc N3ElHc hEsB5d eLNT1d uQIVzc" jsname="boXlNc">amp</span><span aria-hidden="true" class="DPvwYc N3ElHc gQtGhf eLNT1d uQIVzc">video_youtube</span><a class="wEwyrc AVN2gc uQIVzc Sksgp">風傳媒</a></div><menu class="fmkQje gXqRq"><div class="OGsJDe L8PZAb R71ogd" data-n-ca-at="2" data-n-et="1000" data-n-ssice="false" data-n-st="bookmark" jsaction="rcuQ6b:npT2md;JIbuQc:h5M12e;eEPUnd:h5M12e;YohPuc:CE7Jad;qW1nqe:kjc9zd;" jscontroller="pQWkX" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNTE5ODPSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE1MTk4Mw;80" jsmodel="BZ12ub" jsname="ms4Zd"><div aria-disabled="false" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">bookmark_border</span></div></div><span class="L8PZAb uG2FLd" data-n-ca-at="8" data-n-et="1000" jsaction="JIbuQc:RNDhHe;" jscontroller="ZHduwf" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNTE5ODPSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE1MTk4Mw;80" jslog="93393" jsmodel="tOLjce hECoeb"><div aria-disabled="false" aria-label="分享" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" data-tooltip="分享" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">share</span></div></span><span class="L8PZAb GB1Zid" data-n-prms="[false,false,false,null,false,false,false,false,null,false]" jsaction="rcuQ6b:npT2md;aWRkAb:u0WEMd;h4C2te:Oy8cwd;" jscontroller="jSvZHb" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xNTE5ODPSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE1MTk4Mw;80" jslog="109017" jsmodel="WDTLsd BZ12ub"><div aria-disabled="false" aria-expanded="false" aria-haspopup="true" aria-label="更多" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd gL67me cd29Sd V3dfMc w0hkKb" data-dynamic="true" data-tooltip="更多" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;keydown:I481le;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="S9Bhuc" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">more_vert</span></div></span></menu></div></article></div>, <div class="xrnccd"><article class="MQsxIb xTewfe R7GTQ keNKEd j7vNaf Cc0Z5d EjqUne" data-kind="13" data-n-cvid="i149" data-n-et="107" data-n-ham="true" data-n-vlb="0" jsaction=";rcuQ6b:npT2md; click:KjsqPd;" jscontroller="HyhIue" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xODc0NTHSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE4NzQ1MQ;81" jslog="85008" jsmodel="a4N6Ae hT8rr"><a aria-hidden="true" class="VDXfz" href="./articles/CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xODc0NTHSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE4NzQ1MQ?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant" jslog="95014; 5:W251bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCwiaHR0cHM6Ly93d3cuc3Rvcm0ubWcvbGlmZXN0eWxlLzE4NzQ1MSJd; track:click" jsname="hXwDdf" tabindex="-1" target="_blank"></a><h3 class="ipQwMb ekueJc RD0gLb"><a class="DY5T1d RZIKme" href="./articles/CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xODc0NTHSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE4NzQ1MQ?hl=zh-TW&amp;gl=TW&amp;ceid=TW%3Azh-Hant">胸大別跑！中國醫師：跑步是很經濟的健身運動，但有6種人不宜！</a></h3><div aria-hidden="true" class="Da10Tb Rai5ob" jsname="jVqMGc"><span class="xBbh9">跑步有利健康，但有中國大陸醫師指出，6類人不適合跑步，包括大胸部女性、女性50歲以上及男性60歲以上的人。☆一手掌握熱門話題新浪網在報導中引述醫生說 ...</span></div><div class="QmrVtf RD0gLb kybdz"><div class="SVJrMe" jsname="Hn1wIf"><span aria-hidden="true" class="DPvwYc N3ElHc hEsB5d eLNT1d uQIVzc" jsname="boXlNc">amp</span><span aria-hidden="true" class="DPvwYc N3ElHc gQtGhf eLNT1d uQIVzc">video_youtube</span><a class="wEwyrc AVN2gc uQIVzc Sksgp">風傳媒</a></div><menu class="fmkQje gXqRq"><div class="OGsJDe L8PZAb R71ogd" data-n-ca-at="2" data-n-et="1000" data-n-ssice="false" data-n-st="bookmark" jsaction="rcuQ6b:npT2md;JIbuQc:h5M12e;eEPUnd:h5M12e;YohPuc:CE7Jad;qW1nqe:kjc9zd;" jscontroller="pQWkX" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xODc0NTHSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE4NzQ1MQ;81" jsmodel="BZ12ub" jsname="ms4Zd"><div aria-disabled="false" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">bookmark_border</span></div></div><span class="L8PZAb uG2FLd" data-n-ca-at="8" data-n-et="1000" jsaction="JIbuQc:RNDhHe;" jscontroller="ZHduwf" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xODc0NTHSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE4NzQ1MQ;81" jslog="93393" jsmodel="tOLjce hECoeb"><div aria-disabled="false" aria-label="分享" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd cd29Sd V3dfMc w0hkKb" data-n-et="1000" data-tooltip="分享" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="zbPkme" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">share</span></div></span><span class="L8PZAb GB1Zid" data-n-prms="[false,false,false,null,false,false,false,false,null,false]" jsaction="rcuQ6b:npT2md;aWRkAb:u0WEMd;h4C2te:Oy8cwd;" jscontroller="jSvZHb" jsdata="oM6qxc;CBMiJWh0dHBzOi8vd3d3LnN0b3JtLm1nL2xpZmVzdHlsZS8xODc0NTHSASZodHRwczovL3d3dy5zdG9ybS5tZy9hbXBhcnRpY2xlLzE4NzQ1MQ;81" jslog="109017" jsmodel="WDTLsd BZ12ub"><div aria-disabled="false" aria-expanded="false" aria-haspopup="true" aria-label="更多" class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e uUmIDd gL67me cd29Sd V3dfMc w0hkKb" data-dynamic="true" data-tooltip="更多" data-tooltip-horizontal-offset="0" data-tooltip-vertical-offset="-12" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;;keydown:I481le;OuuAFc:UauMyf;gSufsc:BS8cLb;RyWlBb:tC9Erd;UTnG9:aDaYxb;nUyoxf:El6wk;" jscontroller="S9Bhuc" jsname="itaskb" jsshadow="" role="button" tabindex="0"><div class="XI1L0d" jsname="ksKsZd"></div><span aria-hidden="true" class="DPvwYc ChwdAb Xd067b fAk9Qc" jsname="BC5job">more_vert</span></div></span></menu></div></article></div>]

In [6]:
# 文章中的標題則是包覆在class為’h3’的物件中
# 從標題區塊list中, 找出<h3>...</h3>標籤內的標題文字
titles = [t.find('h3').text for t in title]
titles

['皮膚反映內臟健康！出現「5種變化」小心肝出問題了',
 '喝酒都不會臉紅的人，代表肝功能很好？醫生打臉：灌了好幾杯還「面不改色」才要小心！',
 '為何血糖低、頭暈時，吃巧克力和麵包沒有用？醫師的救急建議，人人都該記下來！',
 '塗上乳液，全身還是乾癢到不行！皮膚科醫師5招對抗惱人「冬季癢」',
 '2015年諾貝爾生理學或醫學獎得主揭曉 寄生蟲疾病新療法研發者摘桂冠',
 '晚上打呼、睡眠不順千萬別輕忽，30歲男竟然睡到心臟衰竭！醫生教5秘訣讓你安心好眠',
 '立院三讀通過 愛滋病患將可器捐其他帶原者',
 '喝啤酒真的可以幫助結石排出嗎？泌尿科醫生破解「尿路結石」的3大迷思',
 '失智症剋星原來是它！最新研究：每天來杯這隨處可見的飲料，得病風險降86%',
 '毒癮、酒癮及自殺者 衛福部擬納強制就醫住院',
 '還在低頭滑手機？當心眼睛也會過勞！眼科醫師：這3種人年紀輕輕就失明',
 '午間空氣品質不佳 嘉市衛生局籲民眾戴口罩、少外出',
 '天氣冷容易飆血壓，千萬要注意！專家提5大飲食要點：吃2個月就能有效控制',
 '上班久坐，健康大敵 醫師：坐比站更傷脊椎',
 '以為是痔瘡不在意，一診斷竟是直腸癌晚期…醫師呼籲：血便勿輕忽，應盡速就醫',
 '突破一般人的痠痛迷思！復健科醫師：7成以上坐骨神經痛，不需要治療那條神經！',
 '年紀輕輕就得到高血壓，該怎麼辦？中醫師教你這樣調理身體…',
 '久咳不停，千萬別再說「等它自己好」！10大禍源揭曉，輕忽就怕一輩子好不了…',
 '愛喝奶茶對女性的傷害有多大？她生活習慣正常卻常喊頭痛、暈眩，問題原來出在…',
 '你是牙痛到不行才去看牙醫的人？小心為時已晚的診治會讓你少一顆牙…',
 '記憶力突然退化，只是老了或太累嗎？他就醫緊急送進開刀房，才發現事情嚴重啦！',
 '為何吃化痰、止咳藥反而病情加重？醫師嘆：台灣人幾乎都亂吃，只有「這時機」服用才正確',
 '小綠人標章藏危機 健康食品不健康',
 '為何爸媽過了60歲就脾氣暴躁？先別急著跟長輩吵架，說不定他生了這嚴重的病…',
 '桃園免費子宮頸癌疫苗再加碼 高中女生全免費',
 '熬夜恐成不舉男 小黃瓜變軟茄',
 '愛喝手沖咖啡嗎？星巴克教你簡單5個步驟',
 '你敢從7樓直接溜下來嗎？亞洲最高溜滑梯在高雄，體驗者現身說法！',
 '高醫教授吳秀梅接任食藥署長',
 '原來每天一片巧克力有這種好處啊！原本超怕胖的，看完日本研究以後決定馬上吃！',
 '染髮劑使用不當，可能出現紅斑、搔癢、水泡、潰爛…這4個撇步教你健康染髮！',
 '為何一堆台灣女生婚前瘋「處女膜重建」？關於初夜流血這回事，或許我們都誤會了…',
 '眼睛疲勞、發炎、血絲多，都只要睡一覺就好了嗎？小心眼壓飆高、急性青光眼找上門',
 '家中有血糖高、糖尿病患，年夜飯都吃得戰戰兢兢…醫師澄清：其實「這類」食物不挾就好',
 '研究：一款有助於破解失智症的遊戲',
 '新手爸媽該知道的「嬰兒搖晃症候群」…只要幾秒就可能對寶寶造成永久傷害！',
 '每天1杯含糖飲料，死亡風險竟增3成！熱飲還比冷飲更危險？快看看教授怎麼說',
 '有肌腱炎、網球肘，老是這裡痠那裡痛怎麼辦？現在用這種療法，讓你不用再打針吃藥',
 '交互蹲跳300次！苗栗高中學長霸凌 6生跳到送醫',
 '50歲的他忍下背劇痛20年，吃藥、求醫都沒用！如今奇蹟好轉，原來是靠這樣治療…',
 '6個月精心籌備 成大醫院物理治療中心隆重開幕',
 '肉要烤，健康也要顧好！專家教你中秋烤肉5大密技，不管怎麼吃、就是不會吃到致癌物',
 '每年奪走上萬條人命，腦中風的恐怖不容小覷！天氣漸涼，4大前兆一定要知道…',
 '聽老歌、玩遊戲可以治療失智症？職能治療師提出最有趣療法，簡直是銀髮族的福音',
 '毒蝦竄全台！家樂福、大潤發都中標',
 '西非伊波拉屍體火化 棺材店沒生意可做',
 '3D列印把肋骨印出來了！肋骨骨折不想吃藥慢慢好，這項新手術時間短、併發症低',
 '為什麼孩子比同學矮一截？醫生提醒：除了愛喝糖飲、不運動和晚睡，還可能是這個原因',
 '人過40歲，頻尿風險就找上門！避免擾人清夢「夜尿症」，醫師的2大實用建議',
 'MERS疫情蠢蠢欲動 柯P教你防疫法門：勤洗手、戴口罩',
 '每5個老人，就有1個失智症患者！神經科醫師：多做這件事「存腦本」有助預防',
 '聲音沙啞、耳鳴不舒適…耳鼻喉科醫師：別小看這些問題，可能是癌症的症狀',
 '台北市某高中又傳肺結核案例 家長學生恐慌',
 '炎炎高溫戶外運動，當心「熱傷害」，20分鐘內做好3步驟急救！',
 '可可含量不到35% 叫「巧克力」要挨罰',
 '澎縣新衛生局長上任 有大仁哥影子',
 '民眾突昏倒口吐白沫 熱心警搶救護送就醫',
 '嘉基乳房中心整合服務再升級 引進高階3D乳房攝影儀及3D乳房超音波',
 '高雄榮總等6大醫院爆醫師收回扣 北檢北中南大搜索',
 '中秋烤肉吃月餅 食藥署抽檢共6產品不合格',
 '世界級醫療設備 服務猶勝香港：《樂戶台灣》選摘（1）',
 '中南部PM2.5再度飆高！ 監測站「紫爆」等級數量攀升',
 '台獨大老史明驚傳昏迷 嘉義慈濟加護病房觀察',
 '北市聯合醫院成A級流感應變醫院，假日加開類流感特別門診！',
 '醣化終產物危害多 小心慢性發炎與老化',
 '不沾鍋、鋁鍋真的安全嗎？想吃得安心，你一定要知道的6種鍋具小知識',
 '腸病毒71型恐流行 疾管署「警戒水位」危機監控',
 '中秋連假不舒服，哪裡還能看醫生？快記下這2個實用小工具，就不怕白跑一趟啦',
 '別再吃布丁啦！市售布丁含糖量嚇死人，看完以後你還敢碰某款超商點心嗎？',
 '胸大別跑！中國醫師：跑步是很經濟的健身運動，但有6種人不宜！']

In [7]:
# 找出新聞標題所對應的新聞文章資料來源
newUrls = [requests.get(t.find('a')['href'].replace('.','https://news.google.com',1)).url for t in title] 
newUrls

['https://www.setn.com/News.aspx?NewsID=918315',
 'https://www.storm.mg/lifestyle/397353',
 'https://www.storm.mg/lifestyle/262763',
 'https://www.storm.mg/lifestyle/219085',
 'https://www.storm.mg/article/68301?page=1',
 'https://www.storm.mg/lifestyle/389178',
 'https://www.storm.mg/article/439205',
 'https://www.storm.mg/lifestyle/399204',
 'https://www.storm.mg/lifestyle/236109',
 'https://www.storm.mg/article/95406',
 'https://www.storm.mg/lifestyle/216089',
 'https://www.storm.mg/lifestyle/160081',
 'https://www.storm.mg/lifestyle/626495?page=1',
 'https://www.storm.mg/article/125054',
 'https://www.storm.mg/lifestyle/401449',
 'https://www.storm.mg/lifestyle/203073',
 'https://www.storm.mg/lifestyle/344061',
 'https://www.storm.mg/lifestyle/336866',
 'https://www.storm.mg/lifestyle/304655',
 'https://www.storm.mg/lifestyle/117888',
 'https://www.storm.mg/lifestyle/279126',
 'https://www.storm.mg/lifestyle/374340',
 'https://www.storm.mg/article/52581',
 'https://www.storm.mg/lifestyle/238490',
 'https://news.ltn.com.tw/news/life/breakingnews/1564439',
 'https://news.ltn.com.tw/news/life/breakingnews/1159057',
 'https://www.storm.mg/article/97811',
 'https://www.storm.mg/lifestyle/200992',
 'https://www.storm.mg/article/217511',
 'https://www.storm.mg/lifestyle/214714',
 'https://www.storm.mg/lifestyle/220276',
 'https://www.storm.mg/lifestyle/236299',
 'https://www.storm.mg/lifestyle/293576?page=1',
 'https://www.storm.mg/lifestyle/398711',
 'https://www.storm.mg/lifestyle/195034',
 'https://www.storm.mg/lifestyle/116113',
 'https://www.storm.mg/lifestyle/355895',
 'https://www.storm.mg/lifestyle/332828',
 'https://www.storm.mg/article/68549',
 'https://www.storm.mg/lifestyle/334875',
 'https://www.storm.mg/lifestyle/172347',
 'https://www.storm.mg/lifestyle/339189',
 'https://www.storm.mg/lifestyle/353525',
 'https://www.storm.mg/lifestyle/355745',
 'https://news.ltn.com.tw/news/life/breakingnews/1584994',
 'https://news.ltn.com.tw/news/world/breakingnews/1147024',
 'https://www.storm.mg/lifestyle/350624',
 'https://www.storm.mg/lifestyle/335922',
 'https://www.storm.mg/lifestyle/270347',
 'https://www.storm.mg/lifestyle/51669',
 'https://www.storm.mg/lifestyle/239493',
 'https://www.storm.mg/lifestyle/214184',
 'https://www.storm.mg/article/161977',
 'https://www.storm.mg/lifestyle/145140',
 'https://www.storm.mg/article/73185',
 'https://news.ltn.com.tw/news/life/breakingnews/1554244',
 'https://www.storm.mg/lifestyle/125296',
 'https://www.storm.mg/localarticle/264334',
 'https://www.storm.mg/article/53403',
 'https://www.storm.mg/article/66384',
 'https://www.storm.mg/lifestyle/129828?page=1',
 'https://www.storm.mg/article/73764',
 'https://www.storm.mg/article/75722',
 'https://www.storm.mg/article/84356',
 'https://www.storm.mg/localarticle/85432',
 'https://www.storm.mg/lifestyle/100156',
 'https://www.storm.mg/article/102114',
 'https://www.storm.mg/lifestyle/165807',
 'https://www.storm.mg/lifestyle/151983',
 'https://www.storm.mg/lifestyle/187451']

In [8]:
df = pd.DataFrame({'title': titles,'links': newUrls})
df

,title,links
0,皮膚反映內臟健康！出現「5種變化」小心肝出問題了,https://www.setn.com/News.aspx?NewsID=918315
1,喝酒都不會臉紅的人，代表肝功能很好？醫生打臉：灌了好幾杯還「面不改色」才要小心！,https://www.storm.mg/lifestyle/397353
2,為何血糖低、頭暈時，吃巧克力和麵包沒有用？醫師的救急建議，人人都該記下來！,https://www.storm.mg/lifestyle/262763
3,塗上乳液，全身還是乾癢到不行！皮膚科醫師5招對抗惱人「冬季癢」,https://www.storm.mg/lifestyle/219085
4,2015年諾貝爾生理學或醫學獎得主揭曉 寄生蟲疾病新療法研發者摘桂冠,https://www.storm.mg/article/68301?page=1
...,...,...
65,不沾鍋、鋁鍋真的安全嗎？想吃得安心，你一定要知道的6種鍋具小知識,https://www.storm.mg/lifestyle/100156
66,腸病毒71型恐流行 疾管署「警戒水位」危機監控,https://www.storm.mg/article/102114
67,中秋連假不舒服，哪裡還能看醫生？快記下這2個實用小工具，就不怕白跑一趟啦,https://www.storm.mg/lifestyle/165807
68,別再吃布丁啦！市售布丁含糖量嚇死人，看完以後你還敢碰某款超商點心嗎？,https://www.storm.mg/lifestyle/151983
69,胸大別跑！中國醫師：跑步是很經濟的健身運動，但有6種人不宜！,https://www.storm.mg/lifestyle/187451

In [10]:
#抓內文
url = df['links'][4]
print(url)
r = requests.get(url)
web_content = r.text
soup = BeautifulSoup(web_content,'lxml')
articleContent = soup.find_all('p')
articleContent
# 將所有tag p中的text取出並放進list。
article = []
for p in articleContent:
    article.append(p.text)
    articleAll = '\n'.join(article)
print(articleAll)

https://www.storm.mg/article/68301?page=1

?
人氣

現正熱映中
熱門新聞
熱門分享
2015年「諾貝爾熱季」5日正式展開，首先登場的是諾貝爾生理學或醫學獎（Nobel Prize in Physiology or Medicine，通稱醫學獎），由愛爾蘭裔美國科學家坎貝爾（William C. Campbell）、日本科學家大村智、中國科學家屠呦呦同膺殊榮，共享800萬瑞典克朗（SEK，約新台幣3120萬元）獎金，頒獎儀式將於12月10日在瑞典首都斯德哥爾摩（Stockholm）舉行。
★一手掌握熱門話題
坎貝爾與大村智的得獎理由是發現「線蟲動物門」（nematodes，roundworms）寄生蟲相關疾病的新療法，平分400萬瑞典克朗獎金。屠呦呦得獎理由是發現瘧疾（瘧原蟲引起，也是一種寄生蟲傳染病）的新療法，獨得400萬瑞典克朗獎金。屠呦呦是第一位榮膺諾貝爾生理學或醫學獎的華人，更是第一位女性華人諾貝爾獎得主。
坎貝爾現年85歲，生於愛爾蘭北部的拉梅爾頓（Ramelton），畢業於都柏林大學三一學院（Trinity College, University of Dublin），負笈美國威斯康辛大學麥迪遜分校（University of Wisconsin–Madison）取得博士學位，目前是新澤西州德魯大學（Drew University）榮譽研究員。
大村智現年80歲，生於日本山梨縣韮崎市，東京大學藥學博士，東京理科大學理學博士，現任北里大學特別名譽教授，日本學士院會員。運用遺傳工程創造新化合物的世界第一人，是伊維菌素（Ivermectin）的發現者、阿維菌素（Avermectins）的開發者，曾被日本譽為「拯救2億人口生命的化學家」。
大村智是繼利根川進、山中伸彌之後的第3位獲得諾貝爾生理學或醫學獎的日本人，繼去年3位日本人獲得物理學獎後，如果計入日裔美籍的芝加哥大學名譽教授南部陽一郎，日本的諾貝爾獎獲獎者人數已經達到23人。
屠呦呦現年84歲，生於浙江寧波，北京醫學院（今北京大學醫學部）畢業，一直在中國中醫研究院（2005年更名為中國中醫科學院）工作，現為中國中醫科學院終身研究員兼首席研究員、青蒿素研究開發中心主任。屠呦呦多年從事中藥和中西藥結合研究，最突出貢獻是創製新型抗瘧藥青蒿素（Artemisinin）和雙氫青蒿素（Dihydroartemisinin），2011年9月榮獲被譽為諾貝爾獎「風向標」的拉斯克獎（Lasker Award），也是華裔第一人。
但諷刺的是，屠呦呦在中國被稱為「三無學者」：既無博士學位、也無海外留學背景，更無兩院院士頭銜。連新華網、中央電視台等官媒都質疑，為什麼屠呦呦的成就長期被自家同胞忽視，卻能夠成為歷來第12位（不計達賴喇嘛）華裔諾貝爾獎得主？
最近三則報導
喜歡這篇文章嗎？
請閻紀宇喝杯咖啡，
告訴我這篇文章寫得真棒！
相關報導
今日精選
本週最多人贊助文章
劉燕婷觀點：被反中消費的新疆，被外行出征的學者


劉燕婷

2020-02-02 07:10

老闆被罷免轉行送餐日掙928元　他還是不懂「外送員為何討厭韓國瑜」


林庭瑤

2021-03-23 08:30

世界時光走廊》日據台灣珍稀影像系列（5）：臺灣歷史最駭人的紀實畫面


徐宗懋圖文館

2020-12-27 09:10

五角大廈前高官透露「共軍犯台」兵推結果：開戰數分鐘內台灣空軍遭殲滅，美軍不見得能扭轉戰局


李忠謙

2021-03-30 12:10

冬奧後共軍就動手？軍事專家頻示警　易攻難守的澎湖會是台灣最大罩門？


晏明強

2021-03-25 08:40

華爾街日報》股市最熱趨勢「SPAC」到底是如何運作的？


華爾街日報


Peter Santilli


Amrith Ramkumar

2021-03-31 10:32

長賜輪終於脫困，誰該為損失買單？


德國之聲

2021-03-31 10:10

分裂的世界！各國政府與航空公司搶觀光業救命符  疫苗護照有效性卻遭質疑


廖綉玉

2021-03-31 09:00

「強暴你是因為把你當女生」日本修法擴大性犯罪受害適用對象　LGBT受害者仍感受警方歧視


詹如玉

2021-03-31 08:10

徐勉生觀點：巴拉圭邦交的隱憂與解方


徐勉生

2021-03-31 07:10

陳國祥觀點：蘇伊士運河不要變成台灣前景的噩夢


陳國祥

2021-03-31 07:00

林建山專欄：被美元綁架的世界經濟


林建山

2021-03-31 06:50

汪志雄觀點：中美角力，小英政府待命衝鋒


汪志雄

2021-03-31 06:40

汪葛雷觀點：一兵一卒都不派緬甸，美國真的肯替臺灣打仗？


汪葛雷


奔騰思潮

2021-03-31 06:30

呂紹煒專欄：美國與印度的相同點─膀胱不友好


呂紹煒

2021-03-31 06:20

觀點投書：一個新疆，兩個世界


陳觀樂

2021-03-31 05:30

不用升遷也能加薪！五原則讓你成為專家《三無世代》選摘(2)


遠藤 功（ENDO ISAO）

2021-03-31 04:50

一國兩制．喪鐘再響》中國大改香港選制：確保「愛祖國者」掌握政權，徹底消除「顏色革命」風險


國際中心

2021-03-30 23:08

新冠疫苗不到一年就會失效！　77位科學家警告：需修改配方防堵變種病毒


劉俞妗

2021-03-30 21:30

一場中國共產主義實驗的破滅：昔日脫貧致富楷模，華西村民為何冒雨擠兌


BBC News 中文

2021-03-30 20:40

輝瑞疫苗與莫德納疫苗傳捷報！美國最新研究：民眾接種第一劑，感染風險即降低80%


廖綉玉

2021-03-30 19:30

歐美疫苗太貴、COVAX分配太慢　古巴研發新冠疫苗展開「大外宣」


簡恒宇

2021-03-30 18:30

日本車廠好慘！車用晶片大廠瑞薩因火災停產，日本經濟產業大臣請台灣幫幫忙


國際中心

2021-03-30 17:51

北韓屢射飛彈挨批：金正恩胞妹罵文在寅「厚顏無恥」，白宮稱拜登無意舉行「拜金會」


李忠謙

2021-03-30 17:40

說好的抵制呢？中國拒買洋貨僅三天熱度，H&M、NIKE祭出折扣被搶購一空


自由亞洲電台

2021-03-30 16:40

追蹤優質文章，給個讚！
您已經閒置超過20分鐘了，看看最新的新聞吧？
熱門新聞
今日精選
新聞
評論
財經
生活
華爾街日報
新聞頻道
關於我們
廣告服務
更多粉絲團
更多社群
地址：114 台北市內湖區瑞光路513巷37號4樓
電子郵件地址：service@storm.mg
Copyright © 2020 Storm Media Group All Rights Reserved. ◎未經授權．不得轉載
Loading...
系統錯誤
第二行

## HW

1.[SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Follow along and complete the tasks

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

**Check the head of DataFrame**

In [4]:
# check the head of dataframe
df.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [43]:
df['BasePay'] = pd.to_numeric(df['BasePay'],errors = 'coerce')

In [44]:
df['BasePay'].mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [45]:
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'],errors = 'coerce')

In [46]:
df['OvertimePay'].max()

245131.88

**(Hard) What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [47]:
df.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**(Hard) How many unique job titles are there?**

In [53]:
df['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [54]:
len(df['JobTitle'].unique())

2159

In [5]:
#method2
df['JobTitle'].nunique()

2159